@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.5rem;
}

body {
    min-height: 100vh;
    background-color: rgb(7, 0, 102);
    color: rgb(255, 251, 0);
    display: grid;
    place-content: center;
    padding: 1rem;
}